
Year 2/Sem 2/BD/cursuri.txt
Year 2/Sem 2/RC/laboratoare.txt
Year 2/Sem 2/RC/computer-networks/
Year 2/Sem 2/RC/tema-2-radudilirici/
Year 2/Sem 2/IA/cursuri.txt
Year 2/Sem 2/IA/laboratoare.txt
Year 2/Sem 2/PAO/lab4_tema/
Year 2/Sem 2/IA/lab6/
Year 2/Sem 2/IA/minmax_alphabeta/
