Year 2/Sem 2/BD/cursuri.txt
Year 2/Sem 2/RC/laboratoare.txt
Year 2/Sem 2/RC/computer-networks
Year 2/Sem 2/RC/tema*
Year 2/Sem 2/IA/cursuri.txt
Year 2/Sem 2/IA/laboratoare.txt
Year 2/Sem 2/PAO/lab4_tema
Year 2/Sem 2/ML/Mask Detection/test/*
Year 2/Sem 2/ML/Mask Detection/train/*
Year 2/Sem 2/ML/Mask Detection/validation/*
Year 2/Sem 2/ML/Mask Detection/*.h5
