html {
    scroll-behavior: smooth;
}
ul {
    margin: 0;
    padding: 0;
}
section {
    margin: 0 0 3em 0;
}
.main-background {
    background-image: url("../media/Hellblade-Senua_s-Sacrifice-Wallpapers.jpg");
    background-size: cover;
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
}
.wrapper {
    margin: 6vw 9vw;
    background-color: rgba(0, 10, 15, 0.95);
}
.nav-header {
    background-color: black;
    color: white;
    font-size: 1.5em;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    /*position: sticky;*/
    /*top: 0;*/
}
.nav-img {
    width: 200px;
    margin: 20px 0 0 20px;
}
.pages-navigator {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Staatliches', cursive;
    list-style-type: none;
}
.dropdown {
     display: inline-block;
 }
.button-list {
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
}
.button {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.button:hover {
    background-color: #054e6b;
}
.dropdown:hover {
    background-color: #054e6b;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    /*left: 0;*/
}
.dropdown-content>a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content>a:hover {
    background-color: lightgray;
}
.dropdown:hover>.dropdown-content {
    display: block;
}
.page-header {
    padding: 0 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: bold;
    border-style: none none solid none;
    border-color: lightyellow;
    border-width: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.page-header>p {
    margin: 0.5em;
}
.main-page {
    padding: 10px 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /*min-height: 30vw;*/
}
.main-article {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 2em 0 0 0;
}
.article-navigator {
    margin: 2em 1em 0 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
}
.sticky {
    position: sticky;
    top: 3em;
}
.article-content {
    flex-basis: 85%;
}
.sidebox {
    width: 50%;
    float:right;
    margin: 1em 0 0 1em;
}
.top-button {
    position: fixed;
    bottom: 0;
    right: 10px;
    padding: 0.7em 1em;
    background-color: #2d3677;
    font-weight: bolder;
    color: lightyellow;
    border-style: solid;
    border-color: darkslateblue;
    z-index: 99;
}
.enemy-sections {
    display: flex;
    flex-direction: column;
}
.enemy-sections>li:nth-child(odd) h3 {
    color: brown;
}
.enemy-sections>li:nth-child(even) h3 {
    color: #29428e;
    position: relative;
    left: 5%;
}
.enemy-sections>li:nth-of-type(5) p{
    color: lightblue;
}
.strong-text {
    font-weight: bold;
    color: #ffffcc;
}
.gallery-page {
    display: flex;
    padding: 2em 0;
}
.gallery-page td {
    width: 33%;
    border-style: solid;
    border-color: brown;
}
.gallery-page figure {
    padding: 0;
    margin: 0;
}
.gallery-page img{
    max-width: 100%;
}
.gallery-page figure>figcaption {
    padding: 0.2em 0 0 0;
}
.selected-image {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}
.selected-image>figure {
    margin: auto;
    border-color: #054e6b;
    border-style: solid;
    font-size: 2em;
}
.rotationClass {
    animation: myrotation 2s linear;
}
.selected-image>figure>figcaption {
    padding: 0.3em;
    text-align: right;
}
.gallery-spacer {
    flex-basis: 5%;
}
#gallery-table {
    flex-basis: 55%;
}
#gallery-table figure{
    margin: auto;
}
#gallery-table td{
    transition: background-color 2s;
}
#gallery-table td:hover{
    background-color: brown;
}
@media screen and (max-width: 800px) {
    .wrapper {
        margin: 4vw 6vw;
    }
    .nav-header {
        flex-wrap: wrap;
        justify-content: space-evenly;
        position: static;
    }
    .main-article {
        flex-direction: column;
    }
    .article-navigator {
        flex-basis: 0;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .article-content {
        flex-basis: 100%;
    }
    .button-list {
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }
    .button {
        display: block;
    }
    .dropdown-content>a {
        font-size: 0.7em;
        padding: 6px 8px;
        min-width: 80px;
    }
    .gallery-page {
        flex-direction: column;
    }
    .selected-image {
        padding: 0 0 1em 0;
    }
}
@media screen and (max-width: 600px) {
    .wrapper {
        margin: 0;
    }
}
@keyframes myrotation {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
